<% if resource.errors.any? %>
  <div class="error-message z-40 absoloute" data-controller="remover" data-target="remover.removable">
    <button class="error-close" data-action="remover#remove">
      <svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 150 150" xml:space="preserve">
        <path d="M21.98,128.03C-7.82,99.25-8.64,51.77,20.13,21.98C48.91-7.82,96.39-8.64,126.18,20.13c0.62,0.6,1.24,1.22,1.84,1.84
        c28.78,29.79,27.95,77.27-1.84,106.05C97.12,156.1,51.04,156.1,21.98,128.03z M32.55,117.45c23.44,23.44,61.46,23.44,84.9,0
        s23.44-61.46,0-84.9c-23.44-23.44-61.46-23.44-84.9,0C9.11,55.99,9.11,94.01,32.55,117.45z M106.8,53.77L85.58,75l21.22,21.22
        L96.22,106.8L75,85.58L53.77,106.8L43.2,96.22L64.42,75L43.2,53.77L53.77,43.2L75,64.42L96.22,43.2L106.8,53.77z"/>
      </svg>
    </button>

    <h3>Looks like there <%= resource.errors.count > 1 ? "were" : "was" %> <%= "#{resource.errors.count} #{"problem".pluralize(resource.errors.count)}" %>:</h3>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li>‣ <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>