<div id="bottom-navbar" data-target='toggler.toggleable' class="hidden md:hidden border-b">
  <div id="nav-items" class="container flex justify-between mx-auto px-4 md:pl-8">
    <div class="pb-4 w-full">
      <div class="flex -mb-px mr-8">
        <a href="#" class="no-underline opacity-85 text-purple-dark flex items-center py-4 border-b border-transparent">
          <svg class="h-6 w-6 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M3.889 3h6.222a.9.9 0 0 1 .889.91v8.18a.9.9 0 0 1-.889.91H3.89A.9.9 0 0 1 3 12.09V3.91A.9.9 0 0 1 3.889 3zM3.889 15h6.222c.491 0 .889.384.889.857v4.286c0 .473-.398.857-.889.857H3.89C3.398 21 3 20.616 3 20.143v-4.286c0-.473.398-.857.889-.857zM13.889 11h6.222a.9.9 0 0 1 .889.91v8.18a.9.9 0 0 1-.889.91H13.89a.9.9 0 0 1-.889-.91v-8.18a.9.9 0 0 1 .889-.91zM13.889 3h6.222c.491 0 .889.384.889.857v4.286c0 .473-.398.857-.889.857H13.89C13.398 9 13 8.616 13 8.143V3.857c0-.473.398-.857.889-.857z"></path>
          </svg>              
          Why thegoodvine?
        </a>
      </div>
      <div class="flex -mb-px mr-8">
        <a href="#" class="no-underline opacity-85 text-grey-dark flex items-center py-4 border-b border-transparent">
          <svg class="h-6 w-6 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M8 7h10V5l4 3.5-4 3.5v-2H8V7zm-6 8.5L6 12v2h10v3H6v2l-4-3.5z" fill-rule="nonzero"></path>
          </svg>
          Pricing
        </a>
      </div>
      <div class="flex -mb-px mr-8">
        <a href="#" class="no-underline opacity-85 text-grey-dark flex items-center py-4 border-b border-transparent">
          <svg class="h-6 w-6 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M18 8H5.5v-.5l11-.88v.88H18V6c0-1.1-.891-1.872-1.979-1.717L5.98 5.717C4.891 5.873 4 6.9 4 8v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2zm-1.5 7.006a1.5 1.5 0 1 1 .001-3.001 1.5 1.5 0 0 1-.001 3.001z" fill-rule="nonzero"></path>
          </svg>
          About Us
        </a>
      </div>
      <div class="flex -mb-px mr-8">
        <a href="#" class="no-underline opacity-85 text-grey-dark flex items-center py-4 border-b border-transparent">
          <svg class="h-6 w-6 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M11 12h2v2h9s-.149-4.459-.2-5.854C21.75 6.82 21.275 6 19.8 6h-3.208l-1.197-2.256C15.064 3.121 14.951 3 14.216 3H9.783c-.735 0-.847.121-1.179.744-.165.311-.7 1.318-1.196 2.256H4.199c-1.476 0-1.945.82-2 2.146C2.145 9.473 2 14 2 14h9v-2zM9.649 4.916c.23-.432.308-.516.817-.516h3.067c.509 0 .588.084.816.516L14.924 6h-5.85l.575-1.084zM13 17h-2v-2H2.5s.124 1.797.199 3.322c.031.633.218 1.678 1.8 1.678H19.5c1.582 0 1.765-1.047 1.8-1.678.087-1.568.2-3.322.2-3.322H13v2z" fill-rule="nonzero"></path>
          </svg>
          Find Your Vine
        </a>
      </div>
      <div class="flex md:hidden items-center pt-4 border-t-2 border-purple-light -ml-2 -mb-px justify-around opacity-85">
        <%= render 'layouts/navigation/pages_registration_items' %>
        <%= render 'layouts/navigation/pages_login_items' %>
      </div>
    </div>
    
  </div>
</div>